<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/header %> 
  </head>

  <body>
    <header>
      <%- include ../partials/nav %> 
      
    </header>

    <div class="container">

      <div class="starter-template">
        
        
        <br>
        <br>
        <h2>Bad Habits....</h2>
        <p class="lead">We all got em! Doesn't mean we can't crush them. If we begin by establishing our bad habits
        we can take baby steps towards self improved! Isn't that what we should all strive to do?</p>

       

        <h1> Guess what? </h1>

        

        <h1> You absolutely can! </h1>                                                                                                 

        <br>
        <p class="lead">Follow the steps in this habit crushing system and you will see results!</p>
        <br>
        <li> First, lets start by creating our login credentials. Click on the register button in the upper right corner</li>
        <li> Follow the steps to get started, then you will be redirected by to the home page!</li>
      
        <br>
        <p class="lead">Now that we are all registered, lets begin!</p>
        <li> Click on the "create a bad habit" button in the nav bar. </li>
        <li> Then, input all the required data to establish where you currently stand. </li>
        <li> Finaly, click on the create button! </li>

      </div>

    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
