<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/header %> 
  </head>

  <body>
    <header>
      <%- include ../partials/nav %> 
      
    </header>

    <div class="container">

      <div class="starter-template">
        
        
        <br>
        <br>
        <h2>Bad Habits....</h2>
        <p class="lead">Welcome to the bad habit page!</p>
      </div>

    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
